.home__create-btn {
  background: transparent;
  border: none;
  padding: 5px 10px;
  border-radius: 25px;
  transition: 0.2s ease-in-out;
  font-weight: 700;
  gap: 5px;
  margin: 8px 0;
  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.home-wrapper {
  position: relative;
  border-left: 0.5px solid rgba(0, 0, 0, 0.3);
}

.home__message-card-line {
  border: 0.5px solid rgba(0, 0, 0, 0.4);
}
