.header-container {
  max-width: 1480px;
  padding: 12px 20px;
  margin: 0 auto;
}

.header {
  justify-content: space-between;
}

.header-wrapper {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

.header__left {
  gap: 15px;
}

.header__search-input-label {
  position: relative;
  width: 100%;
  max-width: 754px;
}

.header__search-input-icon {
  position: absolute;
  left: 15px;
  top: 12px;
}

.header__search-input {
  border: 0;
  padding: 18px 38px;
  height: 40px;
  width: 100%;
  max-width: 754px;
  background-color: #eaedef;
  border-radius: 20px;
}

.header__right {
  gap: 15px;
}

.header__right-login {
  border: none;
  width: 65px;
  color: #fff;
  padding: 15px 12px;
  border-radius: 15px;
  background: #d93a00;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    background: rgba($color: #d93a00, $alpha: 0.7);
  }
}

.header__right-menu-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
